@use "../global" as g;

@include g.outputUtilityClass( g.$u-width, 'wt', 'width');
@mixin sectioncenter{
    @include g.mq(lg) {
        max-width: 1200px;
        margin-left:auto;
        margin-right:auto;
}
}
.sectioncenter{
    @include sectioncenter
}