@forward "media";
@forward "hover";
@forward "utility";

@mixin bagpos($position_img){
    content: "";
    background-image: ($position_img);
    background-repeat: no-repeat;
    position:absolute;
    background-position: bottom center;
    background-size:1900px auto;
}
@mixin flexcolumn{
    display:flex;
    flex-direction:column;
}